diffusers==0.31.0
imageio
imgaug
matplotlib
opencv-python
opencv-python-headless
pandas
pytorch-lightning
pytorch3d
scikit-image
scikit-learn
scipy
torch==2.4.0
torchmetrics
torchvision
tqdm
transformers==4.45.2
trimesh==4.6.2
webdataset